*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.header{
    position: relative;
}

.header .header-background img{
  width: 100%;
  height: 350px;
}
.header-logo{
position: absolute;
top: 30%;
left: 45%;
}

.header-text{
  position: absolute; 
  width: 100%;
  top: 80%;
  right: 1%;
}
.header-text h1{
   font-size: 40px;
   font-weight: bold;
   text-align: center;
   color: rgb(61, 61, 61);
   margin-top: 10px;
  }

.header-text p{
    font-size: 12px;
    text-align: center;
    margin-top: 20px;
    color: rgb(61, 61, 61);
   }
.header-buttons{
   position: relative;
   height: 100px;
   width: 100%;
}
.header-buttons .buton1{
    position: absolute;
    bottom: 0;
    left: 35%;
    background-color: green;
    color: white;
    padding: 8px;
    border: none;
    width: 150px;
    border-radius: 20px;
    box-shadow: 10px 11px 34px 6px rgba(58,159,109,0.32);
    cursor: pointer;
}
.header-buttons .buton2{
    position: absolute;
    bottom: 0;
    left: 50%;
    background-color: rgb(0, 109, 128);
    color: white;
    padding: 8px;
    border: none;
    width: 150px;
    border-radius: 20px;
    box-shadow: 10px 11px 34px 6px rgba(58, 147, 159, 0.32);
    cursor: pointer;
}
.buton1:hover,
.buton2:hover{
    opacity: 0.8;
}

.article-center{
    width: 100%;
    height: 30vh;
    margin-top: 8%;
    
    
}

.article-center h1{
   text-align: center;
   font-size: 30px;
   margin-bottom: 15px;
   color: rgb(61, 61, 61);
}

.article-center p{
    color: rgb(61, 61, 61);
    text-align: center;
    font-size: 12px;
}

.article-foto-text{
    display: flex;
    justify-items: center;
    justify-content: space-evenly;
    padding-top: 60px;
    height: 90vh;
    width: 100%;
    
    
}
.article-foto-text img{
  width: 500px;
  height: 350px;
  margin-top: 60px;

}
.article-foto-text h4{
    font-size: 17px;
    margin-bottom: 20px;
    margin-top: 60px;
    text-align: left;
    color: rgb(61, 61, 61);
  
  }
  .article-foto-text p{
   line-height: 20px;
   font-size: 14px;
   text-align: left;
   color: rgb(61, 61, 61);
  }

  .article-bottom{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 120px;
  }
  .bottom-img{
    margin-top: 70px;
    margin-bottom: 70px;
  }
  .bottom-img img{
    width: 650px;
  }
  .article-bottom h1{
    color: rgb(61, 61, 61);
    text-align: center;
    font-size: 30px;
}
.article-bottom p{
    color: rgb(61, 61, 61);
    text-align: center;
    font-size: 12px;
}

.flex-items{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.flex-items-one,
.flex-items-two,
.flex-items-three{
    text-align: center;
    margin-top: 70px;
    color: rgb(61, 61, 61);
}
.flex-social{
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: space-evenly;
    /* display: grid;
    grid-template-columns: repeat(5,1fr); */
    margin-top: 120px;
    padding-left: 10px; 
}

.footer-text{
    width: 100%;
    margin-top: 100px;
}

.footer-text h1{
  text-align: center;
  color: rgb(61, 61, 61);
}
.footer-text p{
    text-align: center;
    color: rgb(161, 159, 159);
  }

.footer-buttons{
    position: relative;
    width: 100%;
    height: 10vh;
}
  .footer-buttons .buton1{
    position: absolute;
    bottom: 10%;
    left: 35%;
    background-color: green;
    color: white;
    padding: 8px;
    border: none;
    width: 150px;
    border-radius: 20px;
    box-shadow: 10px 11px 34px 6px rgba(58,159,109,0.32);
    cursor: pointer;
}
.footer-buttons .buton2{
    position: absolute;
    bottom: 10%;
    left: 50%;
    background-color: rgb(0, 109, 128);
    color: white;
    padding: 8px;
    border: none;
    width: 150px;
    border-radius: 20px;
    box-shadow: 10px 11px 34px 6px rgba(58, 147, 159, 0.32);
    cursor: pointer;
}
.buton1:hover,
.buton2:hover{
    opacity: 0.8;
}

.footer{
    width: 100%;
    background-color: rgb(221, 218, 218);
    height: 30vh;
    margin-top: 120px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
}
.footer-items{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin-left: 5px;
}
.footer-items span{
    text-align: center;
    cursor: pointer;
}
.footer-items span:hover{
    text-align: center;
    color: #28d38c;
    cursor: pointer;
}


.footer-media svg{
    margin-left: 20px;
    cursor: pointer;
    fill:#4C545C;
}
.footer-media svg:hover{
   fill: #28d38c;
   cursor: pointer;
}


